:root {
    --first_color: #FEF2BF;
    --second_color: #000000;
    --third_color:#808080;
    --fourth_color:#ffffff;
    --fifth_color: #011F3F;

    --simon_blue: #0000ff;
    --simon_green: #008000;
    --simon_red: #ff0000;
    --simon_yellow: #ffff00;  
}

#level_title {
    color: var(--first_color);
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 5% 5% 3%;
}

#start_button {
    margin: 0 0 2%;
}

.blue {
    background-color: var(--simon_blue);
}

.container {
    display: block;
    margin: auto;
    width: 50%;
}

.game-over {
    background-color: var(--simon_red);
    opacity: 0.8;
}

.green {
    background-color: var(--simon_green);
}

.pressed {
    /* background-color: var(--third_color); */
    box-shadow: 0 0 1.25rem var(--fourth_color);
    opacity: 0.7;
}
  
.red {
    background-color: var(--simon_red);
}

.row {
    display: inline-block;
}

.simon_button {
    border: 0.625rem solid var(--second_color);
    border-radius: 20%;
    display: inline-block;
    height: 10rem;
    margin: 1rem;
    width: 10rem;
}

.yellow {
    background-color: var(--simon_yellow);
}

body {
    background-color: var(--fifth_color);
    text-align: center;
}